asl-0.json
{"StartAt":"Generate random number invocation","States":{"Generate random number invocation":{"Next":"Wait 1 Second","Retry":[{"ErrorEquals":["Lambda.ServiceException","Lambda.AWSLambdaException","Lambda.SdkClientException"],"IntervalSeconds":2,"MaxAttempts":6,"BackoffRate":2}],"Type":"Task","OutputPath":"$.Payload","Resource":"arn:aws:states:::lambda:invoke","Parameters":{"FunctionName":"GenerateRandomNumber0A92E047","Payload.$":"$"}},"Wait 1 Second":{"Type":"Wait","Seconds":1,"Next":"Job Complete?"},"Job Complete?":{"Type":"Choice","Choices":[{"Variable":"$.generatedRandomNumber","NumericGreaterThanPath":"$.numberToCheck","Next":"Get Number is greater than invocation"},{"Variable":"$.generatedRandomNumber","NumericLessThanEqualsPath":"$.numberToCheck","Next":"Get Number is less than or equal invocation"}],"Default":"Get Number is less than or equal invocation"},"Get Number is less than or equal invocation":{"End":true,"Retry":[{"ErrorEquals":["Lambda.ServiceException","Lambda.AWSLambdaException","Lambda.SdkClientException"],"IntervalSeconds":2,"MaxAttempts":6,"BackoffRate":2}],"Type":"Task","InputPath":"$","OutputPath":"$","Resource":"arn:aws:states:::lambda:invoke","Parameters":{"FunctionName":"NumberLessThan313431AA","Payload.$":"$"}},"Get Number is greater than invocation":{"End":true,"Retry":[{"ErrorEquals":["Lambda.ServiceException","Lambda.AWSLambdaException","Lambda.SdkClientException"],"IntervalSeconds":2,"MaxAttempts":6,"BackoffRate":2}],"Type":"Task","InputPath":"$","OutputPath":"$","Resource":"arn:aws:states:::lambda:invoke","Parameters":{"FunctionName":"NumberGreaterThan013346E9","Payload.$":"$"}}},"TimeoutSeconds":300}